html, body {
    direction: rtl;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: x-large;
    overflow-y: visible; 
    overflow-x:hidden; 
}

/* Centering content */
.container {
    background-color: #f3e33e50;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: Katibeh;
    position: relative; /* Ensure relative positioning for overlay */
}


/* Arabic content styles */
.arabic-content {
    text-align: right;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* List styles */
ol {
    list-style: none;
    margin-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

/* Button styles */
button {
    background-color: #d7c120;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(240, 230, 48);
}

button:last-child {
    margin-right: 0;
}

/* Header styles */
.main-header {
    color: #000000;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1000;
}

/* Header container styles */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    width: 100%;
}

/* Header styles */
#header1 {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Link styles */
.links {
    color: blue;
    font-size: large;
}

.links:hover {
    color: #ffeb0f;
}

/* Footer styles */
.main-footer {
    background-color: #c9b90c21;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
}

/* Flexbox container for footer */
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Individual divs */
.left-div, .right-div {
    flex: 1;
    min-width: 200px;
    margin-right: 40px;
}

/* Map container styles */
.map-container {
    width: 100%;
    height: 100%;
    max-width: 200px; /* Adjust based on your needs */
    min-height: 50px; /* Adjust based on your needs */
    border: 0;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #c9b90c21;
}

.navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: large;
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.navbar-menu a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-menu a:hover {
    background-color: rgba(255, 241, 89, 0.304);
    border-radius: 4px;
}

